---
import BtnBackPortafolio from "../../../components/BtnBackPortafolio.astro";
import Layout from "../../../layouts/Layout.astro";
import CardPortfolioSoftware from "../../../components/CardPortfolioSoftware.astro";
import "../../../styles/portafolio.css";

const titulo = "DESARROLLO";

const stack = [
  {
    color: "#358541",
    name: "CAMPUS MAP",
    textoBtnRepositorio: "Repositorio",
    urlRepositorio:
      "https://github.com/AllianceBioversityCIAT/alliance-campusmap",
    textoBtnDemo: "Demo",
    urlDemo: "https://d3e9f51uy3dvsk.cloudfront.net/home",
    description:
      "GPS estilo Waze/Google Maps que incorpora una vista 3D del campus de Palmira de la Alliance Bioversity and CIAT. Además del desarrollo frontend, implementé la georreferenciación para el trazado de vías y el renderizado de los edificios, igualmente capturando las fotografias de cada edificio y parqueadero.",
  },
  {
    color: "#e76489",
    name: "PORTAFOLIO",
    textoBtnRepositorio: "Repositorio",
    urlRepositorio: "https://github.com/jpbustamanteb026/Portafolio",
    textoBtnDemo: "Demo",
    urlDemo: "https://juanpablobustamante.com/",
    description:
      "Portafolio desarrollado completamente por mí, sin plantillas. El objetivo es mostrar mis habilidades en desarrollo frontend, destacando la experiencia de usuario, haciendola lo más intuitiva posible, siempre bajo los principios de ergonomía digital y lo más importante, el usuario final. Además de la optimización y fluidez de la página.",
  },
];
---

<Layout>
  <div class="cuerpo">
    <BtnBackPortafolio titulo={titulo} />
    <CardPortfolioSoftware items={stack} />
  </div>
</Layout>
