---
import BtnBackPortafolio from "../../../components/BtnBackPortafolio.astro";
import Layout from "../../../layouts/Layout.astro";
import CardPortfolioSoftware from "../../../components/CardPortfolioSoftware.astro";
import "../../../styles/portafolio.css";

const titulo = "DESARROLLO";

const stack = [
  {
    color: "#358541",
    name: "CAMPUS MAP",
    textoBtnRepositorio: "Repositorio",
    urlRepositorio:
      "https://github.com/AllianceBioversityCIAT/alliance-campusmap",
    textoBtnDemo: "Demo",
    urlDemo: "https://d3e9f51uy3dvsk.cloudfront.net/home",
    description:
      "Aplicación web interactiva para la navegación en tiempo real por el campus de uno de los centros de investigación agrícola líderes en el mundo. Desarrollada íntegramente durante mis prácticas: desde los componentes de la interfaz de usuario en Figma hasta la aplicación Angular de producción desplegada en AWS. Permite a los usuarios localizar edificios, encontrar rutas y explorar puntos de interés en todo el campus del CIAT.",
  },
  {
    color: "#e76489",
    name: "PORTAFOLIO",
    textoBtnRepositorio: "Repositorio",
    urlRepositorio: "https://github.com/jpbustamanteb026/Portafolio",
    textoBtnDemo: "Demo",
    urlDemo: "https://juanpablobustamante.com/",
    description:
      "Portafolio desarrollado completamente por mí, desde la optimización de las imágenes y SVG, hasta la creación de componentes reutilizables.",
  },
];
---

<Layout>
  <div class="cuerpo">
    <BtnBackPortafolio titulo={titulo} />
    <CardPortfolioSoftware items={stack} />
  </div>
</Layout>
