---
import BtnBackPortafolio from "../../../components/BtnBackPortafolio.astro";
import Layout from "../../../layouts/Layout.astro";
import CardPortfolioSoftware from "../../../components/CardPortfolioSoftware.astro";
import "../../../styles/portafolio.css";

const titulo = "MAQUETAS";

const stack = [
  {
    color: "#358541",
    name: "CAMPUS MAP",
    textoBtnRepositorio: "Tablero",
    urlRepositorio:
      "https://www.figma.com/design/6WozWQHFniG5JLHlEhlXBD/CAMPUS-MAP?node-id=0-1&t=YwQBPJRnH3bbrvVD-1",
    textoBtnDemo: "Prototipo",
    urlDemo:
      "https://www.figma.com/proto/6WozWQHFniG5JLHlEhlXBD/CAMPUS-MAP?node-id=243-2420&p=f&t=2QWzFXvHk4Z1Itiw-1&scaling=scale-down&content-scaling=fixed&page-id=0%3A1&starting-point-node-id=1%3A93",
    description:
      "Prototipo inicial de un gps para la Alliance Bioversity and CIAT sede Palmira. La intención es ayudar a los visitantes a guiarse dentro del campus en tiempo real.",
  },
  {
    color: "#e76489",
    name: "PORTAFOLIO",
    textoBtnRepositorio: "Tablero",
    urlRepositorio:
      "https://www.figma.com/design/vmCppvK0BeaJENdfdIAiZl/Portafolio?node-id=0-1&t=YwQBPJRnH3bbrvVD-1",
    textoBtnDemo: "Prototipo",
    urlDemo:
      "https://www.figma.com/proto/vmCppvK0BeaJENdfdIAiZl/Portafolio?node-id=1-2&p=f&t=yg5hFtMyBKWX3r28-1&scaling=scale-down&content-scaling=fixed&page-id=0%3A1&starting-point-node-id=1%3A2&show-proto-sidebar=1",
    description:
      "Maqueta de mi portafolio. El objetivo es reflejar mi personalidad y mi gusto por la cultura japonesa; la elección del rosado se debe a los cerezos, un árbol muy común tanto en Japón como en Cali, mi ciudad natal.",
  },
  {
    color: "#EA6113",
    name: "ValleO2",
    textoBtnRepositorio: "Tablero",
    urlRepositorio:
      "https://www.figma.com/design/Ul1pW4bWdhKTxvU5RdBXzB/Dashboard-Clim%C3%A1tico?node-id=1-2&t=oPInJOl0tEIk1tEK-1",
    textoBtnDemo: "Prototipo",
    urlDemo:
      "https://www.figma.com/proto/Ul1pW4bWdhKTxvU5RdBXzB/Dashboard-Clim%C3%A1tico?node-id=311-2055&p=f&t=KtpIb0uRTzimMpZ9-1&scaling=contain&content-scaling=fixed&page-id=1%3A2&starting-point-node-id=311%3A2055&show-proto-sidebar=1",
    description:
      "Dashboard Climático de Cali, Colombia. La idea es desarrollar una herramienta para consultar el clima, revisar historial de dias anteriores y recibir recomendaciones mediante IA.",
  },
];
---

<Layout>
  <div class="cuerpo">
    <BtnBackPortafolio titulo={titulo} />
    <CardPortfolioSoftware items={stack} />
  </div>
</Layout>
