---
import BtnBackPortafolio from "../../../components/BtnBackPortafolio.astro";
import Layout from "../../../layouts/Layout.astro";
import CardPortfolioSoftware from "../../../components/CardPortfolioSoftware.astro";
import "../../../styles/portafolio.css";

const titulo = "PRÓXIMAMENTE";

const stack = [
  {
    color: "#3f3f3f",
    name: "Dashboard de Simulación Climática",
    textoBtnRepositorio: "Repositorio",
    urlRepositorio: "#",
    textoBtnDemo: "Demo",
    urlDemo: "#",
    description:
      "Una aplicación web desarrollada en Angular que renderice visualizaciones interactivas de datos ambientales o simulaciones ecológicas complejas (por ejemplo, el comportamiento de recursos en un ecosistema).",
  },
];
---

<Layout>
  <div class="cuerpo">
    <BtnBackPortafolio titulo={titulo} />
    <CardPortfolioSoftware items={stack} />
  </div>
</Layout>
