body {
  background-color: var(--color-negro);
  display: flex;
  flex-direction: column;
}

.cuerpo {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1.5rem;
  min-height: calc(100dvh - 5rem);
}

.back-link {
  display: flex;
  text-decoration: none;
  width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  color: var(--color-blanco);
}

.titulo {
  width: auto;
  font-family: var(--titulos);
  font-size: var(--display-font-size-mobile);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-120);
}

/* Tablet */
@media screen and (min-width: 768px) {
  .titulo {
    font-size: var(--display-font-size);
  }

  .back-link svg {
    height: 2.7rem;
    width: auto;
  }
}

/* Desktop */
@media screen and (min-width: 1025px) {
  .back-link:hover {
    color: var(--color-rosa);
    transition: color 0.3s ease;
  }

  .back-link:hover svg path {
    fill: var(--color-rosa);
    transition: fill 0.3s ease;
  }
}
