.cuerpo {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  gap: 1.5rem;
}

.titulo {
  color: var(--color-blanco);
  font-family: var(--titulos);
  font-size: var(--display-font-size-mobile);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-120);
}

.titulo-categoria {
  color: var(--Blanco, #d7d7d7);
  text-align: center;
  font-family: var(--titulos);
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-color: var(--Rosa, #e76489);
}

.categoria {
  display: flex;
  padding: 1.25rem;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  align-self: stretch;
  border-radius: 1.25rem;
  background: var(--Gris-Oscuro, #3f3f3f);
  font-family: var(--cuerpo);
}

.sub-categoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  align-self: stretch;
}
