---
import BtnBackPortafolio from "../../../components/BtnBackPortafolio.astro";
import Layout from "../../../layouts/Layout.astro";
import CardPortfolioSoftware from "../../../components/CardPortfolioSoftware.astro";
import "../../../styles/portafolio.css";

const titulo = "ANGULAR";

const stack = [
  {
    color: "#358541",
    name: "CAMPUS MAP",
    textoBtnRepositorio: "Repository",
    urlRepositorio:
      "https://github.com/AllianceBioversityCIAT/alliance-campusmap",
    textoBtnDemo: "Demo",
    urlDemo: "https://d3e9f51uy3dvsk.cloudfront.net/home",
    description:
      "Interactive 3D map for Alliance Bioversity and CIAT. Its purpose is to help users locate themselves within the Palmira campus in real time.",
  },
];
---

<Layout>
  <div class="cuerpo">
    <BtnBackPortafolio titulo={titulo} />
    <CardPortfolioSoftware items={stack} />
  </div>
</Layout>
