---
import BtnBackPortafolio from "../../../components/BtnBackPortafolio.astro";
import Layout from "../../../layouts/Layout.astro";
import CardPortfolioSoftware from "../../../components/CardPortfolioSoftware.astro";
import "../../../styles/portafolio.css";

const titulo = "DEVELOPMENT";

const stack = [
  {
    color: "#358541",
    name: "CAMPUS MAP",
    textoBtnRepositorio: "Repository",
    urlRepositorio:
      "https://github.com/AllianceBioversityCIAT/alliance-campusmap",
    textoBtnDemo: "Demo",
    urlDemo: "https://d3e9f51uy3dvsk.cloudfront.net/home",
    description:
      "A Waze/Google Maps-style GPS app incorporating a 3D view of the Alliance Bioversity and CIAT campus in Palmira. In addition to frontend development, I implemented georeferencing for road layout and building rendering, as well as capturing photographs of each building and parking lot.",
  },
  {
    color: "#e76489",
    name: "PORTFOLIO",
    textoBtnRepositorio: "Repository",
    urlRepositorio: "https://github.com/jpbustamanteb026/Portafolio",
    textoBtnDemo: "Demo",
    urlDemo: "https://juanpablobustamante.com/",
    description:
      "Portfolio developed entirely by me, without templates. The goal is to showcase my frontend development skills, emphasizing user experience and making it as intuitive as possible, always adhering to the principles of digital ergonomics and, most importantly, the end user. This also includes optimizing and ensuring the website's smooth performance.",
  },
];
---

<Layout>
  <div class="cuerpo">
    <BtnBackPortafolio titulo={titulo} />
    <CardPortfolioSoftware items={stack} />
  </div>
</Layout>
