---

---

<div class="redes-sociales">
  <div class="contenedor-copiar">
    <button
      id="copiar-correo-btn"
      data-correo={"juanbermudez026@gmail.com"}
      class="boton-copiar"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="50"
        height="40"
        viewBox="0 0 50 40"
        fill="none"
        aria-label="Correo"
      >
        <path
          d="M50 5C50 2.25 47.75 0 45 0H5C2.25 0 0 2.25 0 5V35C0 37.75 2.25 40 5 40H45C47.75 40 50 37.75 50 35V5ZM45 5L25 17.5L5 5H45ZM45 35H5V10L25 22.5L45 10V35Z"
          fill="#D7D7D7"></path>
      </svg>
    </button>
    <span id="mensaje-copiado" class="aviso-toast">Correo copiado</span>
  </div>

  <a href="https://github.com/jpbustamanteb026" target="_blank">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="39"
      viewBox="0 0 40 39"
      fill="none"
      aria-label="GitHub"
    >
      <path
        d="M19.5971 0C17.0235 0 14.4752 0.511069 12.0976 1.50403C9.71997 2.49699 7.5596 3.95239 5.73985 5.78714C2.06469 9.49258 0 14.5182 0 19.7585C0 28.4918 5.62436 35.9012 13.4044 38.5291C14.3842 38.6872 14.6978 38.0747 14.6978 37.5412V34.202C9.26941 35.3875 8.11319 31.5544 8.11319 31.5544C7.21172 29.2624 5.93791 28.6499 5.93791 28.6499C4.15458 27.4248 6.07509 27.4643 6.07509 27.4643C8.0348 27.6027 9.07344 29.4995 9.07344 29.4995C10.7784 32.5028 13.6592 31.6136 14.7762 31.1394C14.9526 29.8551 15.4621 28.9858 16.0108 28.4918C11.6603 27.9978 7.09414 26.2986 7.09414 18.7706C7.09414 16.5774 7.83883 14.8189 9.11264 13.416C8.91667 12.9221 8.23077 10.8672 9.30861 8.19979C9.30861 8.19979 10.9548 7.66631 14.6978 10.2152C16.246 9.78047 17.9313 9.56313 19.5971 9.56313C21.2628 9.56313 22.9482 9.78047 24.4963 10.2152C28.2394 7.66631 29.8855 8.19979 29.8855 8.19979C30.9634 10.8672 30.2775 12.9221 30.0815 13.416C31.3553 14.8189 32.1 16.5774 32.1 18.7706C32.1 26.3184 27.5143 27.9781 23.1441 28.472C23.8496 29.0845 24.4963 30.2898 24.4963 32.1274V37.5412C24.4963 38.0747 24.8099 38.7069 25.8093 38.5291C33.5894 35.8815 39.1941 28.4918 39.1941 19.7585C39.1941 17.1638 38.6872 14.5945 37.7024 12.1973C36.7176 9.80005 35.274 7.62189 33.4543 5.78714C31.6345 3.95239 29.4742 2.49699 27.0965 1.50403C24.7189 0.511069 22.1706 0 19.5971 0Z"
        fill="#D7D7D7"></path>
    </svg>
  </a>
  <a href="https://www.linkedin.com/in/jpbustamanteb/" target="_blank"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      viewBox="0 0 40 40"
      fill="none"
      aria-label="LinkedIn"
    >
      <path
        d="M32.6087 0C34.3384 0 35.9972 0.68711 37.2203 1.91017C38.4433 3.13324 39.1304 4.79207 39.1304 6.52174V32.6087C39.1304 34.3384 38.4433 35.9972 37.2203 37.2203C35.9972 38.4433 34.3384 39.1304 32.6087 39.1304H6.52174C4.79207 39.1304 3.13324 38.4433 1.91017 37.2203C0.68711 35.9972 0 34.3384 0 32.6087V6.52174C0 4.79207 0.68711 3.13324 1.91017 1.91017C3.13324 0.68711 4.79207 0 6.52174 0H32.6087ZM32.6087 4.34783H6.52174C5.94518 4.34783 5.39224 4.57686 4.98455 4.98455C4.57686 5.39224 4.34783 5.94518 4.34783 6.52174V32.6087C4.34783 33.1853 4.57686 33.7382 4.98455 34.1459C5.39224 34.5536 5.94518 34.7826 6.52174 34.7826H32.6087C33.1853 34.7826 33.7382 34.5536 34.1459 34.1459C34.5536 33.7382 34.7826 33.1853 34.7826 32.6087V6.52174C34.7826 5.94518 34.5536 5.39224 34.1459 4.98455C33.7382 4.57686 33.1853 4.34783 32.6087 4.34783ZM10.8696 15.2174C11.402 15.2175 11.916 15.4129 12.3139 15.7668C12.7118 16.1206 12.966 16.6082 13.0283 17.137L13.0435 17.3913V28.2609C13.0429 28.815 12.8307 29.3479 12.4503 29.7508C12.07 30.1537 11.5501 30.3962 10.997 30.4286C10.4438 30.4611 9.89918 30.2811 9.47428 29.9255C9.04938 29.5699 8.77631 29.0654 8.71087 28.5152L8.69565 28.2609V17.3913C8.69565 16.8147 8.92469 16.2618 9.33238 15.8541C9.74006 15.4464 10.293 15.2174 10.8696 15.2174ZM17.3913 13.0435C17.9004 13.0434 18.3934 13.222 18.7843 13.5482C19.1753 13.8743 19.4393 14.3274 19.5304 14.8283C19.9683 14.5754 20.4205 14.3482 20.8848 14.1478C22.3348 13.5283 24.5065 13.187 26.4674 13.8022C27.4957 14.1283 28.5283 14.737 29.2935 15.7739C29.9783 16.6978 30.3478 17.8217 30.4217 19.0848L30.4348 19.5652V28.2609C30.4342 28.815 30.222 29.3479 29.8416 29.7508C29.4613 30.1537 28.9414 30.3962 28.3883 30.4286C27.8351 30.4611 27.2905 30.2811 26.8656 29.9255C26.4407 29.5699 26.1676 29.0654 26.1022 28.5152L26.087 28.2609V19.5652C26.087 18.8478 25.913 18.513 25.8 18.3587C25.6375 18.1571 25.414 18.0137 25.163 17.95C24.4065 17.7109 23.3174 17.837 22.5935 18.1457C21.5065 18.6109 20.5109 19.3413 19.8326 20.0174L19.5652 20.3043V28.2609C19.5646 28.815 19.3524 29.3479 18.9721 29.7508C18.5917 30.1537 18.0718 30.3962 17.5187 30.4286C16.9656 30.4611 16.4209 30.2811 15.996 29.9255C15.5711 29.5699 15.2981 29.0654 15.2326 28.5152L15.2174 28.2609V15.2174C15.2174 14.6408 15.4464 14.0879 15.8541 13.6802C16.2618 13.2725 16.8147 13.0435 17.3913 13.0435ZM10.8696 8.69565C11.4461 8.69565 11.9991 8.92469 12.4068 9.33238C12.8144 9.74006 13.0435 10.293 13.0435 10.8696C13.0435 11.4461 12.8144 11.9991 12.4068 12.4068C11.9991 12.8144 11.4461 13.0435 10.8696 13.0435C10.293 13.0435 9.74006 12.8144 9.33238 12.4068C8.92469 11.9991 8.69565 11.4461 8.69565 10.8696C8.69565 10.293 8.92469 9.74006 9.33238 9.33238C9.74006 8.92469 10.293 8.69565 10.8696 8.69565Z"
        fill="#D7D7D7"></path>
    </svg></a
  >
</div>

<script>
  import "../scripts/btnCopiar";
</script>

<style>
  .redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2.125rem;
    align-self: stretch;
    flex-wrap: wrap;
  }

  .redes-sociales button {
    background: none;
    border: none;
  }

  .contenedor-copiar {
    position: relative;
    display: inline-block;
  }

  .aviso-toast {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 8px;
    border-radius: 4px;
    font-size: var(--body-small-font-size-mobile);
    white-space: nowrap;

    /* Desvanecimiento */
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.2s ease,
      visibility 0.2s ease;
  }

  /* Estado activo cuando JS añade la clase */
  .aviso-toast.copiado {
    opacity: 1;
    visibility: visible;
  }
</style>
