---
import "../styles/portafolioIndex.css";

const { items } = Astro.props;
---

<section class="skills-list">
  {
    items.map((item: any) => (
      <a href={item.url} class="skill-item">
        <span>{item.name}</span>
        <img src={item.icon} alt={item.name} />
      </a>
    ))
  }
</section>
