---

---

<div class="categoria">
  <h2 class="titulo-categoria">Educación</h2>
  <article class="item">
    <h3 class="titulo-experiencia">Ingeniería Multimedia</h3>
    <p class="experiencia-descripcion">Universidad San Buenaventura Cali</p>
  </article>
  <article class="item">
    <h3 class="titulo-experiencia">Miembro / Investigador</h3>
    <p class="experiencia-descripcion">
      Semillero de Investigación PADIA - Universidad San Buenaventura Cali
    </p>
  </article>
</div>

<style>
  .item {
    display: flex;
    flex-direction: column;
    align-self: start;
  }

  .item h3 {
    color: var(--color-blanco);
    font-size: var(--lead-font-size-mobile);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-140);
  }

  .item p {
    color: var(--Blanco, #d7d7d7);
    font-size: var(--lead-font-size-mobile);
    line-height: var(--line-height-140);
  }
</style>
