---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="categoria">
  <h2 class="titulo-categoria">{t("education.title")}</h2>
  <article class="item">
    <h3 class="titulo-experiencia">{t("education.degree")}</h3>
    <p class="experiencia-descripcion">{t("education.school")}</p>
  </article>
  <article class="item">
    <h3 class="titulo-experiencia">{t("education.member")}</h3>
    <p class="experiencia-descripcion">
      {t("education.group")}
    </p>
  </article>
</div>

<style>
  .item {
    display: flex;
    flex-direction: column;
    align-self: start;
  }

  .titulo-experiencia {
    color: var(--color-blanco);
    font-size: var(--lead-font-size-mobile);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-140);
  }

  .experiencia-descripcion {
    color: var(--Blanco, #d7d7d7);
    font-size: var(--lead-font-size-mobile);
    line-height: var(--line-height-140);
  }

  /* Tablet */
  @media screen and (min-width: 768px) {
    .titulo-experiencia {
      font-size: var(--subtitle1-font-size);
    }

    .experiencia-descripcion {
      font-size: var(--lead-font-size);
    }
  }
</style>
