---

---

<div class="categoria">
  <h2 class="titulo-categoria">Experiencia</h2>
  <div class="entrada-experiencia">
    <p class="fecha-anio">2025</p>
    <div class="linea"></div>
    <h3 class="titulo-experiencia">
      Alliance Bioversity International and CIAT
    </h3>
    <p class="puesto-experiencia">Practicante</p>
    <p class="experiencia-descripcion">
      Desarrollador Frontend en la aplicación Campus Map, un mapa interactivo
      estilo Waze/Google Maps para guiar a los visitantes dentro del campus.
    </p>
  </div>
</div>

<style>
  .entrada-experiencia {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .fecha-anio {
    display: flex;
    justify-content: center;
    color: var(--color-blanco);
    font-family: var(--titulos);
    font-size: var(--h4-font-size-mobile);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-120);
  }
  .linea {
    align-self: center;
    width: 0.15rem;
    height: 1.3rem;
    background: var(--color-blanco);
  }

  .titulo-experiencia {
    text-align: justify;
    color: var(--color-blanco);
    font-size: var(--lead-font-size-mobile);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-140);
  }

  .puesto-experiencia {
    color: var(--color-blanco);
    font-size: var(--lead-font-size-mobile);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-140);
  }

  .experiencia-descripcion {
    color: var(--color-blanco);
    font-size: var(--lead-font-size-mobile);
    line-height: var(--line-height-140);
  }
</style>
