---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import HabilidadesStack from "./HabilidadesStack.astro";

const habilidades = [
  {
    name: t("skills.proactive"),
    icon: "/icons/aprendizaje-rapido.svg",
  },
  { name: t("skills.teamwork"), icon: "/icons/trabajo-equipo.svg" },
  { name: t("skills.teamwork"), icon: "/icons/proactivo.svg" },
];
---

<div class="categoria">
  <h2 class="titulo-categoria">{t("skills.title")}</h2>
  <HabilidadesStack items={habilidades} />
</div>
