---
import LangSwitcher from "./LangSwitcher.astro";
import Menu from "./Menu.astro";
import Navigation from "./Navigation.astro";
---

<header>
  <nav>
    <Menu />
    <Navigation />
    <LangSwitcher />
  </nav>
</header>

<style>
  nav {
    display: flex;
    justify-content: space-between;
  }
</style>
