---
import { base } from "astro:config/client";
---

<div id="main-menu" class="nav-links">
  <a href={base || "/"}>Inicio</a>
  <a href={`${base}/sobremi`}>Sobre Mí</a>
  <a href={`${base}/resume`}>Resume</a>
  <a href={`${base}/portafolio`}>Portafolio</a>
</div>
