---
const b = import.meta.env.PUBLIC_BASE_PATH ?? "";
---

<div id="main-menu" class="nav-links">
  <a href={`${b}/`}>Inicio</a>
  <a href={`${b}/sobremi`}>Sobre Mí</a>
  <a href={`${b}/resume`}>Resume</a>
  <a href={`${b}/portafolio`}>Portafolio</a>
</div>
