---

---

<div id="main-menu" class="nav-links">
  <a href="/">Inicio</a>
  <a href="/sobremi/">Sobre Mí</a>
  <a href="/resume/">Resume</a>
  <a href="/portafolio">Portafolio</a>
</div>

<style>
  body {
    background-color: var(--color-gris-claro);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  #main-menu {
    display: flex;
    max-height: 440px;
    padding: 24px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
  }

  #main-menu a {
    font-family: var(--titulos);
    font-size: var(--display-font-size-mobile);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    color: var(--color-blanco);
  }
</style>
