---
import japonesa from "../assets/japonesaSinBg.webp";
import BotonesPresentacion from "./BotonesPresentacion.astro";
import { Picture } from "astro:assets";
import "../styles/index.css";
import BtnSelector from "./BtnSelector.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const texto = t("home.downloadCv");
---

<div class="presentacion">
  <div class="cuerpo">
    <hgroup class="nombre-titulo">
      <p class="nombre">JUAN PABLO</p>
      <h1 class="apellido">BUSTAMANTE</h1>
      <p class="titulo">{t("home.role")}</p>
    </hgroup>

    <BtnSelector texto={texto} />

    <BotonesPresentacion />
  </div>

  <div class="imagen-japonesa">
    <Picture
      src={japonesa}
      alt="japonesa"
      id="japonesa"
      loading="eager"
      fetchpriority="high"
      formats={["webp"]}
      widths={[223, 446, 740, 940]}
      sizes="(max-width: 767px) 223px, (max-width: 1024px) 370px, 460px"
    />
  </div>
</div>
