---
import japonesa from "../assets/japonesaSinBg.webp";
import BotonesPresentacion from "./BotonesPresentacion.astro";
import { Image } from "astro:assets";
import "../styles/index.css";
---

<div class="presentacion">
  <div class="cuerpo">
    <hgroup class="nombre-titulo">
      <p class="nombre">JUAN PABLO</p>
      <h1 class="apellido">BUSTAMANTE</h1>
      <p class="titulo">Desarrollador Web</p>
    </hgroup>

    <a href="#" class="boton-hoja-vida">Descargar Hoja de Vida</a>

    <BotonesPresentacion />
  </div>

  <div class="imagen-japonesa">
    <Image src={japonesa} alt="japonesa" id="japonesa" loading="eager" />
  </div>
</div>
