---
import Software from "./Software.astro";
import Experiencia from "./Experiencia.astro";
import "../styles/resume.css";
import Educacion from "./Educacion.astro";
import Habilidades from "./Habilidades.astro";
import Idiomas from "./Idiomas.astro";
import BtnScrollTop from "./BtnScrollTop.astro";
---

<div class="cuerpo">
  <div class="titulo">RESUME</div>
  <Software />
  <Experiencia />
  <Educacion />
  <Habilidades />
  <Idiomas />
  <BtnScrollTop />
</div>
