---
import yo from "../assets/yo.webp";
import { Image } from "astro:assets";
import "../styles/sobremi.css";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="cuerpo">
  <div class="texto">
    <h2 class="titulo">{t("nav.about")}</h2>
    <p class="parrafo">
      {t("about.description")}
      <br /><br />
      {t("about.description2")}
    </p>

    <address class="ciudad">
      <div class="linea"></div>
      <span class="ciudad-nombre">Cali, Colombia</span>
      <div class="linea"></div>
    </address>
  </div>

  <Image src={yo} alt="yo" id="yo" loading="eager" />
</div>
