---
import yo from "../assets/yo.webp";
import { Image } from "astro:assets";
import "../styles/sobremi.css";
---

<div class="cuerpo">
  <div class="texto">
    <h2 class="titulo">SOBRE MÍ</h2>
    <p class="parrafo">
      Soy ingeniero multimedia enfocado en desarrollo web. Trabajo
      principalmente con tecnologías como HTML, CSS, JavaScript, Typescript,
      Angular y Astro.
      <br /><br />
      Complemento mi formación con conocimientos en UX/UI y herramientas de diseño,
      lo que me permite desarrollar interfaces funcionales, visualmente consistentes
      y centradas en la experiencia de usuario.
    </p>

    <address class="ciudad">
      <div class="linea"></div>
      <span class="ciudad-nombre">Cali, Colombia</span>
      <div class="linea"></div>
    </address>
  </div>

  <Image src={yo} alt="yo" id="yo" loading="eager" />
</div>
