---
import Stack from "./Stack.astro";

const baseDir = import.meta.env.BASE_URL;

const getIconPath = (path: string) => {
  const merged = `${baseDir}/${path}`;
  return merged.replace(/\/+/g, "/");
};

const desarrollo = [
  { name: "HTML", icon: getIconPath("icons/html.svg") },
  { name: "CSS", icon: getIconPath("icons/css.svg") },
  { name: "JavaScript", icon: getIconPath("icons/javascript.svg") },
  { name: "TypeScript", icon: getIconPath("icons/typescript.svg") },
  { name: "Angular", icon: getIconPath("icons/angular.svg") },
  { name: "Astro", icon: getIconPath("icons/astro.svg") },
];

const diseno = [
  { name: "Figma", icon: getIconPath("icons/figma.svg") },
  { name: "Photoshop", icon: getIconPath("icons/photoshop.svg") },
  { name: "Illustrator", icon: getIconPath("icons/illustrator.svg") },
  { name: "Affinity", icon: getIconPath("icons/affinity.svg") },
  { name: "Inkscape", icon: getIconPath("icons/inkscape.svg") },
];
---

<div class="categoria">
  <h2 class="titulo-categoria">Software</h2>
  <div class="sub-categoria">
    <Stack title="DESARROLLO" items={desarrollo} />
    <Stack title="COMPLEMENTO" items={diseno} />
  </div>
</div>
